<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trades.css') }}">
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <section class="text-gray-600 body-font">
        <div class="text-center mb-10 px-4 md:px-0">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Check Trade Status</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Make trades, make mistakes, make profits!!!</p>
        </div>

        <div class="overflow-x-auto">
            <table class="w-full table-auto bg-white rounded-lg">
                <thead>
                    <tr>
                        <th class="px-4 py-2">TimeStamp</th>
                        <th class="px-4 py-2">Analyst Name</th>
                        <th class="px-4 py-2">Date</th>
                        <th class="px-4 py-2">Scrip Name</th>
                        <th class="px-4 py-2">Position</th>
                        <th class="px-4 py-2">Entry Price</th>
                        <th class="px-4 py-2">Target 1</th>
                        <th class="px-4 py-2">Target 2</th>
                        <th class="px-4 py-2">Stop Loss</th>
                        <th class="px-4 py-2">Status</th>
                        <th class="px-4 py-2">Remark</th>
                        <th class="px-4 py-2">% Yeild</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in user_trades %}
                        <tr>
                            <td class="border px-4 py-2">{{ trade.TimeStamp }}</td>
                            <td class="border px-4 py-2">{{ trade.AnalystName }}</td>
                            <td class="border px-4 py-2">{{ trade.Date }}</td>
                            <td class="border px-4 py-2">{{ trade.ScripName }}</td>
                            <td class="border px-4 py-2">{{ trade.Position }}</td>
                            <td class="border px-4 py-2">{{ trade.EntryPrice }}</td>
                            <td class="border px-4 py-2">{{ trade.Target1 }}</td>
                            <td class="border px-4 py-2">{{ trade.Target2 }}</td>
                            <td class="border px-4 py-2">{{ trade.StopLoss }}</td>
                            <td class="border px-4 py-2">{{trade.Status}}</td>
                            <td class="border px-4 py-2">{{ trade.Remark }}</td>
                            <td class="border px-4 py-2">{{trade.GainLoss}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_admin %}
        <div class="text-center mt-8">
            <button onclick="updateTrades()" class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Update Trades</button>
        </div>
        {% endif %}

        <div class="text-center mt-8">
            <a href="{{ url_for('callbook') }}" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Make New Trade</a>
        </div>

        <div class="text-center mt-8">
            <a href="{{ url_for('logout') }}" class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded-full lg:fixed lg:top-0 lg:right-0 lg:mr-4 lg:mt-4 text-lg">
                Logout
            </a>
        </div>
        
        <!-- Popup to display update message -->
        <div id="updateMessage" class="fixed top-0 left-0 w-full h-full flex items-center justify-center hidden">
            <div class="absolute bg-white w-80 p-8 rounded shadow-lg">
                <p id="messageContent" class="text-center text-lg"></p>
                <button id="closePopup" class="block w-full text-center bg-blue-500 text-white px-4 py-2 mt-4 rounded-md">Close</button>
            </div>
        </div>
    </section>

    <script>
        function updateTrades() {
            // Make an API call to update trades
            fetch('/api/update-trades', {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Parse the JSON response
                } else {
                    throw new Error('Failed to update trades');
                }
            })
            .then(data => {
                // Display the update message in the popup
                document.getElementById('messageContent').textContent = data.message;
                document.getElementById('updateMessage').classList.remove('hidden');

                // Reload the page after 2 seconds
                setTimeout(function() {
                    window.location.reload();
                }, 1000); // Adjust the delay as needed
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Add event listener to close the popup when the close button is clicked
        document.getElementById('closePopup').addEventListener('click', function() {
            document.getElementById('updateMessage').classList.add('hidden');
        });
    </script>
</body>
</html>
